<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
           <section name="NetFindNearFeaturesSOAPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetFindNearFeaturesSOAPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetFindNearFeaturesSOAPClient.Properties.Settings>
            <setting name="NetFindNearFeaturesSOAPClient_localhost_USA_NetFindNearFeaturesSoapSOE" serializeAs="String">
                <value>http://localhost:6080/arcgis/services/USA/MapServer/NetFindNearFeaturesSoapSOE</value>
            </setting>
        </NetFindNearFeaturesSOAPClient.Properties.Settings>       
    </applicationSettings>
    <userSettings>
        <NetFindNearFeaturesSOAPClient.Properties.Settings>
            <setting name="fdfd" serializeAs="String">
                <value/>
            </setting>
        </NetFindNearFeaturesSOAPClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
